body {
    margin: 0;
    background-color: rgba(rgb(230, 230, 230), green, blue, alpha)
}


.wrapper {
    background-color: red;
}
.container1 {
    display: flex;
    background-color: green;
    justify-content: space-around;
    flex-direction: row;
}

.container1 div {

    background-color: royalblue;
    font-size: 1em;
    border-width: 5px;
    border-color: green;
    padding: 10px;
    margin: 10px;
}

.container1 .item1 {
    background-color: blue;
    flex-grow: 1;
}

